<a href="https://colab.research.google.com/github/bi11a1/SKBI_Training/blob/main/Intermediate/Session_12.2_Computer%20Vision%20-%20CNN%20functional%20API%20and%20visualization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<center> <h1> <u> <font color='red'> Training on AI and ML with Python </font> </u> </h1> </center>

# Session-2.2: Conditional statements and branching, loop


### Objective: 
 1. *Get familiar with the Python control flow statements such as for loop and while loop.*
 2. *Write Programs using python loops.*

In [ ]:
range(10) => range(0, 10, 1)
range(2, 10) => range(2, 10, 1)
range(2, 10, 2) => range(2, 10, 2)

for i in range(2, 10, 2):
  print("Hello", i)

Hello 2
Hello 4
Hello 6
Hello 8

## For Loop

Sometimes we want to loop through a set of things such as a **list of words**, **the lines in a file** bold text, or a **list of numbers**. When we have a list of things to loop through, we can construct a definite loop using a for statement. We call the while statement an indefinite loop because it simply loops until some condition becomes False, whereas the for loop is looping through a known set of items so it runs through as many iterations as there are items in the set.

The for loop in Python is used to iterate over a sequence (list, tuple, string) or other iterable objects. Iterating over a sequence is called traversal.

In [ ]:
# Syntax of for Loop

'''
for val in sequence:
     loop body
'''

'\nfor val in sequence:\n     loop body\n'

In [ ]:
## data structure 

# list
# tuple
# dictionary

In [ ]:
x = range(10)
print(type(x))
x = list(x)
print(x)

<class 'range'>
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
ara = [1,-2,3,50,6]
# for (int i =0; i<5; i++)
for val in ara:
  print(val)

1
-2
3
50
6

Here, **`val `**is the variable that takes the value of the item inside the sequence on each iteration. Loop continues until we reach the last item in the sequence. The body of for loop is separated from the rest of the code using indentation.

### The range() function

We can generate a sequence of numbers using **`range()`** function. **`range(10)`** will generate numbers from 0 to 9 (10 numbers).

We can also define the start, stop and step size as **`range(start, stop, step_size)`**. step_size defaults to 1 if not provided.

In [ ]:
print(range(10))

print(list(range(10)))

print(list(range(2, 8)))

print(list(range(2, 21, 3)))

print(list(range(2, 20, 3)))

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 3, 4, 5, 6, 7]
[2, 5, 8, 11, 14, 17, 20]
[2, 5, 8, 11, 14, 17]

In [ ]:
# Python program to illustrate
# Iterating over range 0 to n-1
 
n = 10
for i in range(0, n):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
str = "Hello World"
len(str)

11

In [ ]:
numbers = [-5, -2, -21]
mx = numbers[0]

for number in [-5, -2, -21]:
  if number > mx:
    mx = number

print("Maximum =", mx)

Maximum = -2

### Example-1: Program to find the sum of all numbers stored in a list

In [ ]:
# List of numbers
numbers = [6, 5, 3, -4, -20, -3, 20]

sum = 0
for i in range(len(numbers)):
  x = numbers[i]
  sum = sum + x
  if i != 0:
    if x >= 0:
      print(" + ", end = '')
    else:
      print(" - ", end = '')
  if i == 0 and x < 0:
    print(" - ", end = '')
  print(abs(x), end = '')
  if i == (len(numbers)-1):
    print(" =", sum)

6 + 5 + 3 - 4 - 20 - 3 + 20 = 7

In [ ]:
sum = 0
for i in range(len(numbers)):
  sum = sum + numbers[i]
  print(sum)

6
11
14

In [ ]:
# Program to wish the friends with new year greetings 
friends = ['Joseph', 'Glenn', 'Sally']

for friend in friends:
  print('Happy New Year:', friend)
  
print('Done!')

Happy New Year: Joseph
Happy New Year: Glenn
Happy New Year: Sally
Done!

In [ ]:
for i in range(len(friends)):
  print('Happy New Year:', friends[i])

Happy New Year: Joseph
Happy New Year: Glenn
Happy New Year: Sally

In particular, **friend** is the iteration variable for the **for** loop. The variable friend changes for each iteration of the loop and controls when the **for** loop completes. The iteration variable steps successively through the three strings stored in the **friends** variable.

### Example-2: program to count the number of items in a list

In [ ]:
count = 0
for val in [3, 41, 12, 9, 74, 15]:
  count = count + 1
print('Count: ', count)

print('length:', len([3, 41, 12, 9, 74, 15]))

Count:  6
length: 6

In [ ]:
# computes the total of a set of numbers
total = 0
for val in [3, 41, 12, 9, 74, 15]:
  total = total + val
print('Total: ', total)

Total:  154

### Example-3: To find the largest value in a list or sequence, we construct the following loop:

In [ ]:
largest = None
print('Before:', largest)

for val in [3, 41, 12, 9, 74, 15]:
  if largest is None or val > largest :
    largest = val
  print('Loop:', val, largest)

print('Largest:', largest)

Before: None
Loop: 3 3
Loop: 41 41
Loop: 12 41
Loop: 9 41
Loop: 74 74
Loop: 15 74
Largest: 74

In [ ]:
#To find the largest value in a list or sequence, we construct the following loop:

numbers = [3, 41, 12, 9, 74, 15]
largest= numbers[0]

for val in numbers:
    if val > largest :
        largest = val
    print('Loop:', val, largest)

print('Largest:', largest)

Loop: 3 3
Loop: 41 41
Loop: 12 41
Loop: 9 41
Loop: 74 74
Loop: 15 74
Largest: 74

## While Loop

The while loop in Python is used to iterate over a block of code as long as the test expression (condition) is true.

We generally use this loop when we don't know the number of times to iterate beforehand.

In [ ]:
# Program to add natural
# numbers up to 
# sum = 1+2+3+...+n

# To take input from the user,
# n = int(input("Enter n: "))

n = 10

# initialize sum and counter
sum = 0
i = 1

while i <= n:
    sum = sum + i
    i = i+1    # update counter

# print the sum
print("The sum is", sum)

The sum is 55

In [ ]:
x = 1
for i in range(1, 1001):
  x *= i
print(x)

402387260077093773543702433923003985719374864210714632543799910429938512398629020592044208486969404800479988610197196058631666872994808558901323829669944590997424504087073759918823627727188732519779505950995276120874975462497043601418278094646496291056393887437886487337119181045825783647849977012476632889835955735432513185323958463075557409114262417474349347553428646576611667797396668820291207379143853719588249808126867838374559731746136085379534524221586593201928090878297308431392844403281231558611036976801357304216168747609675871348312025478589320767169132448426236131412508780208000261683151027341827977704784635868170164365024153691398281264810213092761244896359928705114964975419909342221566832572080821333186116811553615836546984046708975602900950537616475847728421889679646244945160765353408198901385442487984959953319101723355556602139450399736280750137837615307127761926849034352625200015888535147331611702103968175921510907788019393178114194545257223865541461062892187960223838971476088506276862967146674697562911234082439208160153780889893964518263243671616762179168909779911903754031274622289988005195444414282012187361745992642956581746628302955570299024324153181617210465832036786906117260158783520751516284225540265170483304226143974286933061690897968482590125458327168226458066526769958652682272807075781391858178889652208164348344825993266043367660176999612831860788386150279465955131156552036093988180612138558600301435694527224206344631797460594682573103790084024432438465657245014402821885252470935190620929023136493273497565513958720559654228749774011413346962715422845862377387538230483865688976461927383814900140767310446640259899490222221765904339901886018566526485061799702356193897017860040811889729918311021171229845901641921068884387121855646124960798722908519296819372388642614839657382291123125024186649353143970137428531926649875337218940694281434118520158014123344828015051399694290153483077644569099073152433278288269864602789864321139083506217095002597389863554277196742822248757586765752344220207573630569498825087968928162753848863396909959826280956121450994871701244516461260379029309120889086942028510640182154399457156805941872748998094254742173582401063677404595741785160829230135358081840096996372524230560855903700624271243416909004153690105933983835777939410970027753472000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [ ]:
while True:
  n = int(input())
  if n < 0:
    break
  if n%2 == 1:
    print("Odd")
  else:
    print("Even")

4
Even
23
Odd
0
Even
-13

In [ ]:
while True:
  inp = input()
  if inp == 'Done':
    break

4334l43l
43242343023942093falkfjaslfaf
Hello
DONE
done
Done

In [ ]:
# Print i as long as i is less than 6:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

### Break and Continue Statement

In Python, **`break`** and **`continue`** statements can alter the flow of a normal loop.
Loops iterate over a block of code until the test expression is false, but sometimes we wish to terminate the current iteration or even the whole loop without checking test expression.

The break and continue statements are used in these cases.

In [ ]:
# Use of break statement inside the loop

for val in "string":
    if val == "i":
      break
    print(val)

print("The end")

s
t
r
The end

In this program, we iterate through the "string" sequence. We check if the letter is **`i`**, upon which we break from the loop. Hence, we see in our output that all the letters up till i gets printed. After that, the loop terminates.

In [ ]:
# Program to show the use of continue statement inside loops

for val in "string":
    if val == "i":
        continue
    print(val)

print("The end")

s
t
r
n
g
The end

This program is same as the above example except the **` break`** statement has been replaced with **`continue`**.

We continue with the loop, if the string is i, not executing the rest of the block. Hence, we see in our output that all the letters except i gets printed.

In [ ]:
cnt = 0
for x in range(1500, 2701):
  if x % 5 == 0 and x % 7 == 0:
    print(x)
    cnt = cnt+1
print("Total number: ", cnt)

1505
1540
1575
1610
1645
1680
1715
1750
1785
1820
1855
1890
1925
1960
1995
2030
2065
2100
2135
2170
2205
2240
2275
2310
2345
2380
2415
2450
2485
2520
2555
2590
2625
2660
2695
Total number:  35

In [ ]:
for n in range(1, 101):
  flag = 1
  for x in range(2, n):
    if n%x == 0:
      flag = 0

  if flag == 1 and n != 1:
    print(n, end = ', ')

2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97,

### Practice Excercises
1. Write a program which repeatedly reads numbers until the
user enters “done”. Once “done” is entered, print out the total, count,
and average of the numbers. If the user enters anything other than a
number, detect their mistake using try and except and print an error
message and skip to the next number.   
```
          Enter a number: 4
          Enter a number: 5
          Enter a number: bad data
          Invalid input
          Enter a number: 7
          Enter a number: done
          16 3 5.333333333333333
```
2. Write a Python program to find those numbers which are divisible by 7 and multiple of 5, between 1500 and 2700 (both included).

3. Write a Python program to count the number of even and odd numbers from a series of numbers.
```
    Sample numbers : numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9) 
    Expected Output :
    Number of even numbers : 5
    Number of odd numbers : 4
```
4. Write a Python program that prints all the numbers from 0 to 6 except 3 and 6.
5. Write a Python program to get the Fibonacci series between 0 to 50.
6. Write a program to display all prime numbers within a range.
7. Write a program to accept a number from a user and calculate the sum of all numbers from 1 to a given number.
```
          Enter number 10
          Sum is:  55
```

### References:
1. [Programiz.com](https://www.programiz.com/python-programming/operators)
2. [Python for Everybody-Coursera](https://www.coursera.org/learn/python)